.wrapper {
    display: flex;
    flex-direction: column;  /* Ordnet die Kinder in umgekehrter Reihenfolge an */
    min-height: 100vh;
}



body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
    
}

.navbar {
    flex: 1;
    background: rgb(24, 23, 23);
    margin-top: 1vw;
    
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}

a:hover {
    color: rgb(13, 111, 132);
}




.Homepage {
    display: flex;
    margin-top: 2vw;
}
img {
    width: 30vw;
}
.Block {
    background: #181717;
    
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    margin-left: 5vw;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    margin-left: 5vw;
    margin-top: 3vw;
}



footer {
    background: rgb(24, 23, 23);
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2vw;  /* Automatically margin at the top pushing footer to bottom */
}

/* Update your footer CSS */
footer p {
    padding: 0.5vw;
    margin: 0;  /* Reset any margins that might push layout */
    font-size: 1.2vw;
    
}
   









@media (max-width: 800px){
    ul {
        padding: 1vw;
    }
    a {
        font-size: 2vw;
    }
    .Homepage {
        flex-direction: column;
        margin-top: 5vw;
    }
    img {
        
        width: 100vw;
    }
    .Block {
        width: 100VW;
        
    }
    h1 {
        font-size: 9vw;
    }
    p {
        font-size: 5vw;
    }
   
}


@media (min-width: 800px) and (max-width: 1000px) {
    img {
        width: 80vw;
    }
}
