

body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
}

.navbar {
    flex: 1;
    background: rgb(24, 23, 23);
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}

a:hover {
    color: rgb(13, 111, 132);
}



.Kontaktbox {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background: white;
    border-radius: 1vw;
    max-width: 36vw; 
    max-height: 20vw;
    margin: 10vw auto; 
    opacity: 0.9;
    animation: swipeUp 1s ease forwards;
}
.Kontaktbox p {
    font-family: sans-serif,Arial;
    font-size: 1vw;
    
}
.Kontaktbox img {
    max-width: 14vw; 
    margin-top: 0vw; 
}

.Kontaktbox button {
    margin-top: 0vw; 
    margin-bottom: 1vw;
    font-size: 0.7vw; 
    border: none;
    
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: #2222220d;
    color: #222;    
}
.Kontaktbox a {
    display: flex;   
} 

button:hover {
    background-color: #2222221a;
}



@keyframes swipeUp {
    from {
        transform: translateY(100%); /* Start from below the view */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* End at its normal position */
        opacity: 1;
    }
}


footer {
    background: rgb(24, 23, 23);
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2vw;  /* Automatically margin at the top pushing footer to bottom */
 
}

/* Update your footer CSS */
footer p {
    padding: 0.5vw;
    margin: 0;  /* Reset any margins that might push layout */
    font-size: 1.2vw;
    
}
   









@media (max-width: 800px){
    ul {
        padding: 1vw;
    }
    a {
        font-size: 2vw;
    }
    .Homepage {
        flex-direction: column;
        margin-top: 5vw;
    }
    img {
        
        width: 100vw;
    }
    .Block {
        width: 100VW;
        
    }
    h1 {
        font-size: 9vw;
    }
    p {
        font-size: 5vw;
    }
   
}


@media (min-width: 800px) and (max-width: 1000px) {
    img {
        width: 80vw;
    }
}
