body {
    margin: 0;
    padding: 0;
    display: flex;
 flex-wrap: wrap;
    background-color: rgb(7, 0, 0);
}
/* Rectangle 1 */
.navbar {

    position: fixed;
width: 100%;
top: 1.5%;
padding: 0.5%;
background: rgb(24, 23, 23);
margin-top: -0.3%;
height: 5%;
}


.navbar ul {
    
    list-style-type: none;
    margin: 0.1;
    padding: 0;
    text-align: center;
    line-height: 5%;
}
.navbar li {
    display: inline; /* Horizontale Anordnung der Listenelemente */
    margin-right: 8%; /* Abstand zwischen den Elementen */
margin-left: 8%;
}
.navbar a {
    color: white;
font-family: sans-serif,Arial;
font-weight: 100;    
font-size: 110%;
text-decoration: none;

}
.navbar a:hover {
    color: rgb(13, 111, 132);
}



.FirstSteps img {
    position: absolute;
width: 35%;
height: 60%;
left: 5%;
top: 30%;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Hinzufügen von Box Shadow */
}












































.Linie {
    position: absolute;
    width: 40%;
    height: 0%;
    left: 0%;
    top: 96.5%;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-0.19deg);
    }
    
    .Linie2 {
    
    
    position: absolute;
    width: 40%;
    height: 0%;
    left: 59.9%;
    top: 96.5%;
    
    border: 1px solid #FFFFFF;
    transform: rotate(179.81deg);
    
    }
    .Mail {
        /* nico.weiss@swisscom.com */
    
    position: absolute;
    width: 16%;
    height: 4%;
    left: 42%;
    top: 94%;
    
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 110%;
    line-height: 39px;
    
    color: #FFFFFF;
    
    }
.Mail:hover {
    color: rgb(13, 111, 132);
}

@media screen and (max-width: 1000px) {
.navbar li {
font-size: 90%;
margin-right: 7%; /* Abstand zwischen den Elementen */
margin-left: 7%;
}
.navbar ul {
    line-height: 0%;
}
.navbar {
    height: 7%;
}
.Mail {
font-size: 85%;
position: absolute;
top: 92.5%;

}
}