body {
    display: flex;
    flex-direction: column; /* oder row, je nach Bedarf */
    align-items: stretch; /* Streckt die Elemente, um die gesamte Höhe oder Breite zu füllen */
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 0, 0);
}
/* Rectangle 1 */
.navbar {
    display: flex;    
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 1.5%;
    padding: 1% 0%;
    background: rgb(24, 23, 23);
    z-index: 1000;
  }
  
  .navbar ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; /* Fügt hinzu, dass .navbar ul den gesamten verfügbaren Platz einnimmt */
    justify-content: space-around;  

}
  
  .navbar li {


}
    .navbar a {
padding: 0;
margin: 0;
color: white;
font-family: sans-serif,Arial;
font-weight: 100;    
font-size: 100%;
text-decoration: none;

}
.navbar a:hover {
    color: rgb(13, 111, 132);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3% 6%;
    height: auto;
}


  .project {
    display: flex; /* Flexbox für die Ausrichtung des Inhalts verwenden */
    flex-direction: column; /* Elemente vertikal stapeln */
    align-items: center; /* Horizontale Zentrierung */
    justify-content: flex-start; /* Vertikale Zentrierung */
    width: 30%; /* Ändere die Breite der Projekte nach Bedarf */
    margin: 10%; /* Füge einen kleinen Abstand zwischen den Projekten hinzu */
    background: #362F2F;
    text-align: center;
    padding: 1%;
    box-sizing: border-box; /* Wichtig, damit Padding nicht die Breite beeinflusst */
 
    color: white;
 
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;  
transition: max-height 0.3s;
max-height: 80px;
}
.project h3 {
    
 
  white-space: nowrap; /* Verhindere den Zeilenumbruch */
   /* Verhindere den Überlauf von Text */
  text-overflow: ellipsis;
}

.project.hovertarget:hover {
    max-height: 500px; /* Zielwert für die max-height beim Hover */
}
#project1:hover .additional-text {
    opacity: 1;
}


.additional-text {
    
    width: 100%;
    
    padding: 10px;
    color: white;
    font-size: 16px;
    transition: opacity 0.3s;
    opacity: 0;
}


























.Linie {
    position: absolute;
    width: 40%;
    height: 0%;
    left: 0%;
    top: 96.5%;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-0.19deg);
    }
    
    .Linie2 {
    
    
    position: absolute;
    width: 40%;
    height: 0%;
    left: 59.9%;
    top: 96.5%;
    
    border: 1px solid #FFFFFF;
    transform: rotate(179.81deg);
    
    }
    .Mail {
        /* nico.weiss@swisscom.com */
    
    position: absolute;
    width: 16%;
    height: 4%;
    left: 42%;
    top: 94%;
    
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 110%;
    line-height: 39px;
    
    color: #FFFFFF;
    
    }
.Mail:hover {
    color: rgb(13, 111, 132);
}

@media screen and (max-width: 1000px) {
.navbar li {
font-size: 90%;
margin-right: 7%; /* Abstand zwischen den Elementen */
margin-left: 7%;
}
.navbar ul {
    line-height: 0%;
}
.navbar {
    height: 7%;
}
.Mail {
font-size: 85%;
position: absolute;
top: 92.5%;

}
}