body {
    margin: 0;
    padding: 0;
    display: flex;
 flex-wrap: wrap;
    background-color: rgb(7, 0, 0);
}
/* Rectangle 1 */
.navbar {

    position: fixed;
width: 100%;
top: 1.5%;
padding: 0.5%;
background: rgb(24, 23, 23);
margin-top: -0.3%;
}


.navbar ul {
    
    list-style-type: none;
    margin: 0.1;
    padding: 0;
    text-align: center;

}
.navbar li {
    display: inline; /* Horizontale Anordnung der Listenelemente */
    margin-right: 10%; /* Abstand zwischen den Elementen */
margin-left: 10%;
}
.navbar a {
    color: white;
font-family: sans-serif,Arial;
font-weight: 100;    
font-size: 140%;
text-decoration: none;

}
.navbar a:hover {
    color: rgb(13, 111, 132);
}

.HTMLBlock {
/* HTMl-Block */

position: absolute;
width: 18%;
height: 60%;
left: 10%;
top: 25%;

background: #362F2F;


display: flex;
flex-wrap: wrap;
}

.HTMLBlock h1 {
/* HTML */

    position: absolute;
width: 29%;
height: 9%;
left: 31%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 260%;
font-weight: 400;
text-decoration-line: underline;

color: #FFFFFF;


}

.HTMLBlock p {

/* Basic-Gut */

position: absolute;
width: 100%;
height: 10%;
left: 18%;
top: 77%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 255%;


color: #FFFFFF;

}

.HTMLBlock img {
/* HTML-Bild */

position: absolute;
width: 80%;
height: 50%;
left: 10%;
top: 25%;

}

.CSSBlock {
/* CSS-Block */

position: absolute;
width: 18%;
height: 60%;
left: 41%;
top: 25%;

background: #362F2F;

}

.CSSBlock h1 {
    /* CSS */
    
    position: absolute;
    width: 22%;
    height: 9%;
    left: 35%;
 
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

    font-size: 260%;
    font-weight: 400;
    text-decoration-line: underline;
    
    color: #FFFFFF; 
}

.CSSBlock p {
/* Basic-Gut */

position: absolute;
width: 100%;
height: 10%;
left: 18%;
top: 77%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 255%;


color: #FFFFFF;


}

.CSSBlock img {
    /* CSS-Bild */

    position: absolute;
    width: 84%;
    height: 53%;
    left: 10%;
    top: 24%;



}

.JavaBlock {
    /* Java-Block */

position: absolute;
width: 18%;
height: 60%;
right: 10%;
top: 25%;

background: #362F2F;

}

.JavaBlock h1 {
    /* Java */

position: absolute;
width: 81px;
height: 9%;
left: 35%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 260%;

text-decoration-line: underline;

color: #FFFFFF;

}

.JavaBlock p {
  /* Basic */

position: absolute;
width: 100%;
height: 10%;
left: 32%;
top: 77%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 255%;


color: #FFFFFF;

}

.JavaBlock img {
    /* Java-Bild */

    position: absolute;
    width: 50%;
    height: 53%;
    left: 25%;
    top: 24%;

}








.Linie {
position: absolute;
width: 40%;
height: 0%;
left: 0%;
top: 96.5%;

border: 1px solid #FFFFFF;
transform: rotate(-0.19deg);
}

.Linie2 {


position: absolute;
width: 40%;
height: 0%;
left: 59.9%;
top: 96.5%;

border: 1px solid #FFFFFF;
transform: rotate(179.81deg);

}
.Mail {
    /* nico.weiss@swisscom.com */

position: absolute;
width: 16%;
height: 4%;
left: 42%;
top: 94.5%;

font-family: Arial, Helvetica, sans-serif;

font-size: 165%;
line-height: 39px;

color: #FFFFFF;

}
.Mail:hover {
    color: rgb(13, 111, 132);
}
@media (max-width: 1800px) {
   
.Mail {
font-size: 125%;
position: absolute;
top: 94%;

}

}
@media (min-width: 2200px) {

.HTMLBlock h1 {
    font-size: 350%;
}
.CSSBlock h1 {
    font-size: 350%; 
} 
.JavaBlock h1 {
    font-size: 350%; 
} 

.HTMLBlock p {
    font-size: 350%;
}
.HTMLBlock p {
    font-size: 350%;
}
.CSSBlock p {
    font-size: 350%;
}
.JavaBlock p {
    font-size: 350%;
}

}
