.wrapper {
    display: flex;
    flex-direction: column;  /* Ordnet die Kinder in umgekehrter Reihenfolge an */
    min-height: 100vh;
}
body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
    
}


.navbar {
    flex: 1;
    background: rgb(24, 23, 23);
    margin-top: 1vw;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}
a:hover {
    color: rgb(13, 111, 132);
}



.All-Skills1 { /*die ersten 3 skills*/
    display: flex;
    justify-content: space-around;
}
.skill {
    background: #362F2F;
    width: 20vw;
    height: 5vw;
    margin: 4vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: height 0.4s ease-in-out;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}
.skill p {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    font-size: 1vw;
    transition: opacity 0.45s ease-in-out;

}
.skill img {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
    transition: opacity 0.45s ease-in-out;
    
}
.three img {
    height: 10vw;
    width: 6vw;
    margin-left: 7vw;
}
.skill:hover {
    height: 18vw;
}
.skill:hover p {
    opacity: 1;
    transition-delay: 0.1s;
}
.skill:hover img {
    opacity: 1;
    transition-delay: 0.1s;
}

.All-Skills2 { /*die ersten 3 skills*/
    margin-top: 4.2vw;
    display: flex;
    justify-content: space-around;
}
.All-Skills3 { /*die ersten 3 skills*/
    margin-top: 4.2vw;
    display: flex;
    justify-content: space-around;
}








.Footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.Linie {
    background-color: white;
    height: 0.1vw;
    width: 300vw;
}
.copyright {
margin-top: -0.6vw;
text-align: center;

height: 3vw;
}
.copyright p {
    font-size: 1vw;
    width: 10vw;
    margin: 0;
    color: white;
    font-family: sans-serif,Arial;
}




@media (max-width: 800px){
    ul {
        padding: 2.5vw;
    }
    a {
        font-size: 2vw;
    }
    .All-Skills1 {
        flex-direction: column;
        align-items: center;
    }
    .All-Skills2 {
        flex-direction: column;
        align-items: center;
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 18vw;
        padding: 15vw;
    }
    .skill img {
        opacity: 1;
        width: 25vw;
        height: 25vw;
        margin-right: 5vw;
        margin-top: -2vw;
    }
    .skill p {
        opacity: 1;
        font-size: 3vw;
        margin-top: 4vw;
    }
    .skill h3 {
        font-size: 5vw;
        margin-top: 1vw;
    }
    .three img {
        height: 25vw;
        width: 18vw;
        margin-left: 5vw;
    }}
    
    footer {
        background: rgb(24, 23, 23);
        color: white;
        text-align: center;
        width: 100%;
        margin-top: 2vw;  /* Automatically margin at the top pushing footer to bottom */
    }
    
    /* Update your footer CSS */
    footer p {
        padding: 0.5vw;
        margin: 0;  /* Reset any margins that might push layout */
        font-size: 1.2vw;
        
    }
       
    
    
    
    
    
    
    
    
    
    @media (max-width: 800px){
        ul {
            padding: 1vw;
        }
        a {
            font-size: 2vw;
        }
        .Homepage {
            flex-direction: column;
            margin-top: 5vw;
        }
        img {
            
            width: 100vw;
        }
        .Block {
            width: 100VW;
            
        }
        h1 {
            font-size: 9vw;
        }
        p {
            font-size: 5vw;
        }
       
    }
    
    
    @media (min-width: 800px) and (max-width: 1000px) {
        img {
            width: 80vw;
        }
    }
