body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(24, 23, 23);
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}

a:hover {
    color: rgb(13, 111, 132);
}

.HTMLBlock {
/* HTMl-Block */

position: absolute;
width: 18%;
height: 60%;
left: 10%;
top: 25%;

background: #362F2F;
overflow: hidden;
}
.HTMLBlock:hover h1,
.HTMLBlock:hover p,
.HTMLBlock:hover img {
  opacity: 0;
}
.HTMLBlock:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Hinzufügen von Box Shadow */
}
.HTMLBlock:hover::after {
    content: "In den ersten Monaten meiner Lehrzeit habe ich mit W3School HTML gelernt. Ich habe versucht diese Befehle anzuwenden und habe dann anschliessend versucht ein Projekt umzusetzen mit meinem Wissen. Dieses Projekt ist diese Webseite.";
    position: absolute;
    width: 90%;
    height: 65%;
    left: 5%;
    top: 40%; /* Ändern Sie die Startposition auf die Mitte (50%) */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    color: #FFFFFF;
    opacity: 1;
    transform: translateY(-50%); /* Verschieben Sie den Text von unten nach oben */
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    
}

.HTMLBlock h1 {
/* HTML */

    position: absolute;
width: 29%;
height: 9%;
left: 31%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 200%;
font-weight: 400;
text-decoration-line: underline;

color: #FFFFFF;

background: #362F2F;
}

.HTMLBlock p {

/* Basic-Gut */

position: absolute;
width: 100%;
height: 10%;
left: 18%;
top: 77%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 210%;


color: #FFFFFF;

}

.HTMLBlock img {
/* HTML-Bild */

position: absolute;
width: 80%;
height: 50%;
left: 10%;
top: 25%;

}

.CSSBlock {
/* CSS-Block */

position: absolute;
width: 18%;
height: 60%;
left: 41%;
top: 25%;

background: #362F2F;
overflow: hidden;
}
.CSSBlock:hover h1,
.CSSBlock:hover p,
.CSSBlock:hover img {
  opacity: 0;
}
.CSSBlock:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Hinzufügen von Box Shadow */
}
.CSSBlock:hover::after {
    content: "Parallel zu HTML habe ich auch CSS mit W3School gelernt und habe die Befehle ebenfalls ausgeführt um zu verstehen was diese machen. Das Projekt zu CSS ist ebenfalls diese Webseite.";
    position: absolute;
    width: 90%;
    height: 65%;
    left: 5%;
    top: 40%; /* Ändern Sie die Startposition auf die Mitte (50%) */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    color: #FFFFFF;
    opacity: 1;
    transform: translateY(-50%); /* Verschieben Sie den Text von unten nach oben */
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
 
}


.CSSBlock h1 {
    /* CSS */
    
    position: absolute;
    width: 22%;
    height: 9%;
    left: 35%;
 
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

    font-size: 200%;
    font-weight: 400;
    text-decoration-line: underline;
    
    color: #FFFFFF; 
}

.CSSBlock p {
/* Basic-Gut */

position: absolute;
width: 100%;
height: 10%;
left: 18%;
top: 77%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 210%;


color: #FFFFFF;


}

.CSSBlock img {
    /* CSS-Bild */

    position: absolute;
    width: 84%;
    height: 53%;
    left: 10%;
    top: 24%;



}

.JavaBlock {
    /* Java-Block */

position: absolute;
width: 18%;
height: 60%;
right: 10%;
top: 25%;

background: #362F2F;

}

.JavaBlock:hover h1,
.JavaBlock:hover p,
.JavaBlock:hover img {
  opacity: 0;
}
.JavaBlock:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Hinzufügen von Box Shadow */
}
.JavaBlock:hover::after {
    content: "In der Schule habe ich zuerst die Java Basics gelernt (Konstrukor, Methoden etc). Ich habe dann den Auftrag bekommen ein Spiel weiterzuentwicklen (ein quartet). Dort musste ich neue Attribute hinzufügen sowie den Code verstehen.";
    position: absolute;
    width: 90%;
    height: 65%;
    left: 5%;
    top: 40%; /* Ändern Sie die Startposition auf die Mitte (50%) */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    color: #FFFFFF;
    opacity: 1;
    transform: translateY(-50%); /* Verschieben Sie den Text von unten nach oben */
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
 
}


.JavaBlock h1 {
    /* Java */

position: absolute;
width: 81px;
height: 9%;
left: 35%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 200%;

text-decoration-line: underline;

color: #FFFFFF;

}

.JavaBlock p {
  /* Basic */

position: absolute;
width: 100%;
height: 10%;
left: 32%;
top: 77%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 210%;


color: #FFFFFF;

}

.JavaBlock img {
    /* Java-Bild */

    position: absolute;
    width: 50%;
    height: 53%;
    left: 25%;
    top: 24%;
}


.PythonBlock {
    /* Python-Block */

position: absolute;
width: 18%;
height: 60%;
left: 10%;
top: 100%;
    
background: #362F2F;
}
.PythonBlock:hover h1,
.PythonBlock:hover p,
.PythonBlock:hover img {
  opacity: 0;
}
.PythonBlock:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Hinzufügen von Box Shadow */
}
.PythonBlock:hover::after {
    content: "In der Schule hat wir einen kleinen Workshop zu Python wir mussten verschiedene Aufgaben lösen und lernten erstmals die Programmiersprache kennen. Als wir die Basics konnten (Print, If, Else, While, Variabeln etc) lernten wir auch Pandas kennen um CSV files zu bearbeiten und zu konfiguiren.";
    position: absolute;
    width: 90%;
    height: 65%;
    left: 5%;
    top: 40%; /* Ändern Sie die Startposition auf die Mitte (50%) */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    color: #FFFFFF;
    opacity: 1;
    transform: translateY(-50%); /* Verschieben Sie den Text von unten nach oben */
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
 
}

.PythonBlock h1 {
/* Python */

position: absolute;
width: 22%;
height: 9%;
left: 28.5%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 200%;
font-weight: 400;
text-decoration-line: underline;

color: #FFFFFF;
}

.PythonBlock p {
/* Basic */
position: absolute;
width: 100%;
height: 60%;
left: 32%;
top: 77%;


font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 210%;


color: #FFFFFF;

}

.PythonBlock img {
/* Python-logo-notext 1 */

position: absolute;
width: 80%;
height: 50%;
left: 11%;
top: 30%;


} 








.Linie {
    position: absolute;
    width: 40%;
    height: 0%;
    left: 0%;
    top: 180%;
    
    border: 1px solid #FFFFFF;
    transform: rotate(-0.19deg);
    }
    
    .Linie2 {
    
    
    position: absolute;
    width: 40%;
    height: 0%;
    left: 59.9%;
    top: 180%;
    
    border: 1px solid #FFFFFF;
    transform: rotate(179.81deg);
    
    }
    .Mail {
        /* nico.weiss@swisscom.com */
    
    position: absolute;
    width: 16%;
    height: 4%;
    left: 42%;
    top: 178.5%;
    
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 110%;
   
    
    color: #FFFFFF;
    
    }
    .Mail:hover {
        color: rgb(13, 111, 132);
    }
@media (max-width: 1800px) {


}
@media (min-width: 2200px) {

.HTMLBlock h1 {
    font-size: 350%;
}
.CSSBlock h1 {
    font-size: 350%; 
} 
.JavaBlock h1 {
    font-size: 350%; 
} 

.HTMLBlock p {
    font-size: 350%;
}
.HTMLBlock p {
    font-size: 350%;
}
.CSSBlock p {
    font-size: 350%;
}
.JavaBlock p {
    font-size: 350%;
}
.PythonBlock h1 {
    font-size: 350%;
    }
    .PythonBlock p {
    font-size: 350%; 
    }
}
@media screen and (max-width: 1000px) {
.navbar li {
font-size: 90%;
margin-right: 7%; /* Abstand zwischen den Elementen */
margin-left: 7%;
}
.navbar ul {
    line-height: 0%;
}
.navbar {
    height: 8%;
}
.Mail {
font-size: 85%;
position: absolute;
    width: 16%;
    height: 4%;
    left: 41.5%;
    top: 178.5%;
}
.HTMLBlock h1 {
    font-size: 160%;
}
.CSSBlock h1 {
    font-size: 160%; 
} 
.JavaBlock h1 {
    font-size: 160%; 
} 

.HTMLBlock p {
    font-size: 160%;
}

.CSSBlock p {
    font-size: 160%;
}
.JavaBlock p {
    font-size: 160%;
}
.PythonBlock h1 {
font-size: 160%;
}
.PythonBlock p {
font-size: 160%; 
}
}



