.wrapper {
    display: flex;
    flex-direction: column;  /* Ordnet die Kinder in umgekehrter Reihenfolge an */
    min-height: 100vh;
}
body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
    
}

.navbar {
    flex: 1;
    background: rgb(24, 23, 23);
    margin-top: 1vw;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}
a:hover {
    color: rgb(13, 111, 132);
}



.All-Skills1 { /*die ersten 3 skills*/
    display: flex;
    justify-content: space-around;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Zentriert horizontal */
    justify-content: center; /* Zentriert vertikal */
    background: #362F2F;
    width: 20vw;
    margin: 2vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: height 0.4s ease-in-out, transform 0.3s ease-in-out; /* Füge transform zu den Transitions hinzu */
    transform: scale(1); /* Standard Skalierung */
}
.skill:hover {
    transform: scale(1.1); /* Vergrößert das Element um 10% */
}
.skill h3 {
    font-size: 1.5vw;
    
}
.skill p {
    font-size: 1vw;
    transition: opacity 0.45s ease-in-out;
}
.skill img {
    display: flex;
    width: 10vw;
    height: 10vw;
    transition: opacity 0.45s ease-in-out;
    
}
.three img {
    height: 10vw;
    width: 6vw;
}
.eight img {
width: 20vw;
}
.nine img {
    width: 12vw;
    }




.All-Skills2 { /*die ersten 3 skills*/
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
}
.All-Skills3 { /*die ersten 3 skills*/
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
}

footer {
    background: rgb(24, 23, 23);
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2vw;  /* Automatically margin at the top pushing footer to bottom */
}

/* Update your footer CSS */
footer p {
    padding: 0.5vw;
    margin: 0;  /* Reset any margins that might push layout */
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px){
    ul {
        padding: 1vw;
    }
    a {
        font-size: 2vw;
    }
    .All-Skills1 {
        flex-direction: column;
        align-items: center;
    }
    .All-Skills2 {
        flex-direction: column;
        align-items: center;
    }
    .All-Skills3 {
        flex-direction: column;
        align-items: center;
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 18vw;
        padding: 15vw;
        margin: 4vw;
    }
    .skill img {
        width: 25vw;
        height: 25vw;
        margin-top: -2vw;
    }
    .skill p {
       
        font-size: 3vw;
        margin-top: 4vw;
    }
    .skill h3 {
        font-size: 5vw;
        margin-top: 1vw;
    }
    .three img {
        height: 27vw;
        width: 18vw;
        
    }}
    
   
       
    

