body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
}


.navbar {
    background: rgb(24, 23, 23);
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}
a:hover {
    color: rgb(13, 111, 132);
}



.Homepage { /*Erste Reihe von den ersten 3 Objekten*/
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
}

.Block {
    
    
    background: #362F2F;
    height: 22vw; 
    width: 13vw;
}

img {
    
    width: 13vw;
    height: 22vw;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 32w;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    display: flex;
    justify-content: center;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2vw;
}





