body {
    background-color: rgb(7, 0, 0);
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(24, 23, 23);
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1vw;
}
.Element {
    font-size: 1vw;        
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif,Arial;
}

a:hover {
    color: rgb(13, 111, 132);
}


.All-Skills1 { /*die ersten 3 skills*/
    display: flex;
    justify-content: space-around;
    
}
.skill {
    background: #362F2F;
    width: 20vw;
    height: 5vw;
    margin: 4vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: height 0.4s ease-in-out;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}
p {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    font-size: 1vw;
    transition: height 4s ease-in;
}
img {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
    transition: height 4s ease-in;
    
}
.three img {
    height: 10vw;
    width: 6vw;
    margin-left: 7vw;
}
.skill:hover {
    height: 18vw;
}
.skill:hover p {
    opacity: 1;
}
.skill:hover img {
    opacity: 1;
}

.All-Skills2 { /*die ersten 3 skills*/
    margin-top: 4.2vw;
    display: flex;
    justify-content: space-around;
}



.Footer {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8vw;
    
}
.Linie {
    
    background-color: white;
    height: 0.1vw;
    width: 300vw;
}
.copyright {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: -0.6vw;
text-align: center;

height: 1.5vw;
}
.copyright  p{
    font-size: 1vw;
    width: 10vw;
    margin: 0;
}


